---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navegation from "../components/Navegation.astro";
---

<Layout title="Welcome to Astro.">
  <Navegation />
  <h1>Hello astro</h1>
</Layout>
