---
import Layout from "../layouts/Layout.astro";
import Navegation from "../components/Navegation.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Integradora">
  <Navegation text="Login" text2="Mujeres" text3="HOmbres" text4="Categorias" />
  <main>
    <!--  -->
    <section class="mb-[8rem]">
      <div
        style="background-image: ur('../../public/bg2.jpg'));"
        class="div_bg p-0 relative overflow-hidden flex items-center bg-cover pt-0 pb-0"
      >
        <span
          class="bg-black absolute w-full h-full top-0 left-0 bg-cover bg-center opacity-[.8]"
        ></span>
        <div class="pr-6 pl-6 mr-auto ml-autos w-full z-[1]">
          <div
            class="flex flex-wrap justify-center flex-row items-center mr-6 ml-6 mt-0"
          >
            <div class="text-white mr-auto ml-auto text-center">
              <h1 class="text-white text-[40px] font-bold">
                ¡La coleccion esta aqui!
              </h1>
              <p class="text-xl font-normal mb-6 bg-wh">
                Ahora es el momento de que esté bien ser grandioso. La gente en
                este mundo evita a la gente por ser grandiosa. Por ser un color
                brillante. Por destacar.
              </p>
              <button
                class="bg-white text-[#334155] rounded-md p-2 button_image hover:cursor-pointer hover:animate-pop"
              >
                Ver nueva coleccion
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  -->
    <div class="w-full pr-6 pl-6 ml-0 mr-0 mt-12 mb-12">
      <div class="text-center mb-12 block">
        <h3 class="text-[#1e293b] text-3xl font-bold">Compra por Categorias</h3>
        <a href="#" class="font-semibold text[#1e293b]">Ver catalogo > </a>
      </div>
    </div>
    <!--  -->
    <section class="flex flex-grow mt-0 mr-6 ml-6 mb-12">
      <!--  -->
      <div
        class="rounded-3xl ring-gray-900 items-start card p-4 pt-6 w-full flex-row flex h-full"
      >
        <div
          class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-[#13293b]"
        >
          <a href="#">
            <img class="rounded-t-lg" src="/category1.jpg" alt="" />
          </a>
          <div class="p-5">
            <a href="#">
              <h5
                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
              >
                Vestidos
              </h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam,
              consectetur odio a excepturi atque tenetur ea doloremque velit et
              fugiat itaque ut iste voluptatibus voluptas inventore. Architecto
              beatae eum fugit!
            </p>
            <a
              href="#"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-[#334155] rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300 bg-white hover:animate-pulsing"
            >
              Ver producto
              <svg
                class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <!--  -->
      <div
        class="rounded-3xl ring-gray-900 items-start card p-4 pt-6 w-full flex-row flex h-full"
      >
        <div
          class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-[#13293b]"
        >
          <a href="#">
            <img
              class="rounded-t-lg h-[261.17px] w-full"
              src="/category2.jpg"
              alt=""
            />
          </a>
          <div class="p-5">
            <a href="#">
              <h5
                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
              >
                Outlet
              </h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam,
              consectetur odio a excepturi atque tenetur ea doloremque velit et
              fugiat itaque ut iste voluptatibus voluptas inventore. Architecto
              beatae eum fugit!
            </p>
            <a
              href="#"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-[#334155] rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300 bg-white hover:animate-pulsing"
            >
              Ver producto
              <svg
                class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <!--  -->
      <div
        class="rounded-3xl ring-gray-900 items-start card p-4 pt-6 w-full flex-row flex h-full"
      >
        <div
          class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-[#13293b]"
        >
          <a href="#">
            <img
              class="rounded-t-lg h-[261.17px] w-full"
              src="/category4.jpg"
              alt=""
            />
          </a>
          <div class="p-5">
            <a href="#">
              <h5
                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
              >
                Trajes
              </h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam,
              consectetur odio a excepturi atque tenetur ea doloremque velit et
              fugiat itaque ut iste voluptatibus voluptas inventore. Architecto
              beatae eum fugit!
            </p>
            <a
              href="#"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-[#334155] rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300 bg-white hover:animate-pulsing"
            >
              Ver producto
              <svg
                class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <!--  -->
    </section>
    <!--  -->
    <div class="mb-48 mt-12 mr-16 ml-16">
      <section>
        <div
          class="p-0 relative overflow-hidden flex items-center bg-cover bg-[50%] bg-blur rounded-md"
        >
          <div class="faded opsity-10"></div>
          <div class="index w-full pr-6 pl-6 mr-auto ml-auto">
            <div
              class="flex items-center flex-wrap mr-6 mt-0 ml-6 justify-center"
            >
            </div>
            <div class="mr-auto ml-auto text-center mt-auto mb-auto">
              <h1
                class="margin inline-block mt-24 text-5xl font-bold text-[#1e293b]"
              >
                Disfruta de nuestra nuevas prendas
              </h1>
              <p class="text-[20px] text-[#64748b] mb-6 mt-9">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Consequuntur asperiores magnam, sunt facere porro sint.
                Accusamus, perspiciatis similique placeat sunt voluptatum,
                corporis consectetur vitae, quo animi ex molestias harum qui?
              </p>
              <button
                class="mt-7 inline-block rounded-md bg-[#1e293b] p-4 h-[46px] text-white hover:cursor-pointer hover:animate-pulsing font-bold w-[250px]"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-gift-fill inline"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A3 3 0 0 1 3 2.506zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43zM9 3h2.932l.023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0zm6 4v7.5a1.5 1.5 0 0 1-1.5 1.5H9V7zM2.5 16A1.5 1.5 0 0 1 1 14.5V7h6v9z"
                  ></path>
                </svg>
                Ver prendas
              </button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <Footer />
  <style>
    .div_bg {
      background-image: url("/public//bg2.jpg");
      min-height: 90vh;
    }
    .button_image {
      box-shadow: 0 1px 2px #0c1a240f;
      border: 1px solid #dde0e5;
    }
    .card {
      box-shadow: 0 20px 27px #0000000d;
    }
    .bg-blur {
      background-image: url(https://images.unsplash.com/photo-1519642918688-7e43b19245d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2676&q=80);
    }
    .faded {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: rgba(255, 255, 255, 0)
        linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.97) 80%
        )
        repeat scroll 0 0;
    }
    .opsity-10 {
      opacity: 1 !important;
    }
    .index {
      z-index: 2 !important;
    }

    .margin {
      margin-bottom: 1.5rem !important;
    }
  </style>
</Layout>
