---
import Layout from "../layouts/Layout.astro";
import Navegation from "../components/Navegation.astro";
import Card from "../components/Card.astro";
---

<Layout title="Integradora">
  <Navegation />
  <main>
    <!--  -->
    <section class="mb-[8rem]">
      <div
        style="background-image: ur('../../public/bg2.jpg'));"
        class="div_bg p-0 relative overflow-hidden flex items-center bg-cover pt-0 pb-0"
      >
        <span
          class="bg-black absolute w-full h-full top-0 left-0 bg-cover bg-center opacity-[.8]"
        ></span>
        <div class="pr-6 pl-6 mr-auto ml-autos w-full z-[1]">
          <div
            class="flex flex-wrap justify-center flex-row items-center mr-6 ml-6 mt-0"
          >
            <div class="text-white mr-auto ml-auto text-center">
              <h1 class="text-white text-[40px] font-bold">
                ¡La coleccion esta aqui!
              </h1>
              <p class="text-xl font-normal mb-6 bg-wh">
                Ahora es el momento de que esté bien ser grandioso. La gente en
                este mundo evita a la gente por ser grandiosa. Por ser un color
                brillante. Por destacar.
              </p>
              <button
                class="bg-white text-[#334155] rounded-md p-2 button_image hover:cursor-pointer hover:animate-pop"
              >
                Ver nueva coleccion
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  -->
    <div class="w-full pr-6 pl-6 ml-0 mr-0 mt-12 mb-12">
      <div class="text-center mb-12 block">
        <h3 class="text-[#1e293b] text-3xl font-bold">Compra por Categorias</h3>
        <a href="#" class="font-semibold text[#1e293b]">Ver catalogo > </a>
      </div>
    </div>
    <!--  -->
    <section class="flex flex-grow mt-0 mr-6 ml-6 mb-12">
      <!--  -->
      <div
        class="rounded-3xl ring-gray-900 items-start card p-4 pt-6 w-full flex-row flex h-full"
      >
        <div
          class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-[#13293b]"
        >
          <a href="#">
            <img class="rounded-t-lg" src="/public/category1.jpg" alt="" />
          </a>
          <div class="p-5">
            <a href="#">
              <h5
                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
              >
                Vestidos
              </h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam,
              consectetur odio a excepturi atque tenetur ea doloremque velit et
              fugiat itaque ut iste voluptatibus voluptas inventore. Architecto
              beatae eum fugit!
            </p>
            <a
              href="#"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-[#334155] rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300 bg-white hover:animate-pulsing"
            >
              Ver producto
              <svg
                class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <!--  -->
      <div
        class="rounded-3xl ring-gray-900 items-start card p-4 pt-6 w-full flex-row flex h-full"
      >
        <div
          class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-[#13293b]"
        >
          <a href="#">
            <img
              class="rounded-t-lg h-[250.17px]"
              src="/public/category4.jpg"
              alt=""
            />
          </a>
          <div class="p-5">
            <a href="#">
              <h5
                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
              >
                Trajes
              </h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam,
              consectetur odio a excepturi atque tenetur ea doloremque velit et
              fugiat itaque ut iste voluptatibus voluptas inventore. Architecto
              beatae eum fugit!
            </p>
            <a
              href="#"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-[#334155] rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300 bg-white hover:animate-pulsing"
            >
              Ver producto
              <svg
                class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <!--  -->
      <div
        class="rounded-3xl ring-gray-900 items-start card p-4 pt-6 w-full flex-row flex h-full"
      >
        <div
          class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-[#13293b]"
        >
          <a href="#">
            <img
              class="rounded-t-lg h-[311.77px] w-full"
              src="/public/category2.jpg"
              alt=""
            />
          </a>
          <div class="p-5">
            <a href="#">
              <h5
                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
              >
                Trajes
              </h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam,
              consectetur odio a excepturi atque tenetur ea doloremque velit et
              fugiat itaque ut iste voluptatibus voluptas inventore. Architecto
              beatae eum fugit!
            </p>
            <a
              href="#"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-[#334155] rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300 bg-white hover:animate-pulsing"
            >
              Ver producto
              <svg
                class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <!--  -->
    </section>

    <style>
      .div_bg {
        background-image: url("/public//bg2.jpg");
        min-height: 90vh;
      }
      .bg-image {
        background-image: url("/public//category1.jpg");
        background-size: cover;
      }
      .button_image {
        box-shadow: 0 1px 2px #0c1a240f;
        border: 1px solid #dde0e5;
      }
      .card {
        box-shadow: 0 20px 27px #0000000d;
      }
    </style>
  </main>
</Layout>
