---
interface Props {
  text: String;
  text2: String;
  text3: String;
  text4: String;
}
const { text, text2, text3, text4 } = Astro.props;
---

<header
  class="flex w-full bg-slate-100 pl-[30px] pr-[10px] justify-between items-center blur-nav rounded shadow-nav sticky"
>
  <a href="/">
    <img
      src="/favicon.svg"
      alt="logo"
      class="inline-block w-16 h-16 hover:animate-pulsing text-stone-900"
    />
  </a>
  <nav class="flex">
    <ul class="list-none flex">
      <li class="hover:animate-tada">
        <a class="inline-block padding text-cyan-950" href="/dashboard"
          >{text2}</a
        >
      </li>
      <li class="hover:animate-tada">
        <a class="inline-block padding text-cyan-950" href="/shop">{text4}</a>
      </li>
      <li class="hover:animate-tada">
        <a class="inline-block padding text-cyan-950" href="/product">{text3}</a
        >
      </li>
      <a href="login">
        <button
          class="inline-block padding bg-[#1e293b] rounded-md text-slate-50 hover:cursor-pointer hover:animate-swing me-shodow"
        >
          {text}
        </button>
      </a>
    </ul>
  </nav>
  <style>
    .padding {
      padding: 10px 15px;
      margin-right: 15px;
    }
    .blur-nav {
      box-shadow: inset 0 0 2px #fefefed1;
      -webkit-backdrop-filter: blur(27.2px);
      backdrop-filter: blur(27.2px);
      background-color: #ffffffd9 !important;
    }
    .shadow-nav {
      box-shadow:
        0 0.75rem 1.0625rem -0.3125rem #0c1a2417,
        0 0.25rem 0.4375rem -0.1875px #0c1a240a !important;
    }
    .me-shodow {
      box-shadow: 0 1px 2px #0c1a240f;
    }
  </style>
</header>
